---
import TesteLayout from '../layouts/TesteLayout.astro';
import Equipe from '../components/Equipe.astro';
import Destaque from '../components/Destaque.astro';
import Depoimentos from '../components/Depoimentos.astro';

const allMembers = await Astro.glob('./membros/*.md');
const status = "ativo";
const filteredMembers = allMembers.filter((post) => post.frontmatter.status?.includes(status));

const allProjects = await Astro.glob('./projetos/*.md');
const destaque = "sim";
const filteredProjects = allProjects.filter((post) => post.frontmatter.destaque?.includes(destaque));

const allTestimonials = await Astro.glob('../pages/membros/*.md');
const hasTestimonial = "sim";
const filteredTestimonials = allTestimonials.filter((post) => post.frontmatter.hasTestimonial?.includes(hasTestimonial));

const testimonialQuantity = filteredTestimonials.length;

const pageTitle = "Fábrica de Software";
---

<TesteLayout pageTitle={pageTitle}>
    <div class="bg-slate-900 bg-hero-pattern bg-center bg-no-repeat bg-cover h-screen text-center text-white flex flex-col justify-center items-center pb-[60px] border-primary">
      <img src="logo-oficial.png" alt="logo principal" class="animate__animated animate__tada w-[13rem] mb-[2rem] " />
      <div class="animate__animated animate__bounceIn">
        <h1 class="lg:text-[4rem] md:text-[3rem] text-[2rem] font-[600]">Fábrica de Software</h1>
        <h2 class="text-primary font-[700]">IFSP Itapetininga</h2>
      </div>
    </div>
    <div class="flex flex-col md:mx-[16rem] gap-y-4">

      <section class="flex gap-x-10 p-4 items-start reveal">
        <div class="flex flex-col rounded-2xl md:h-[34.8rem] justify-evenly ">
          <h2 class="text-5xl text/loose font-semibold text-primary">Sobre o projeto</h2>
          <p class="text-[1rem] text-[1.3rem]/loose text-balance text-secondary">A Fábrica de Software é uma iniciativa liderada pelo Prof. Danilo Bueno <strong>desde maio de 2019</strong> no Instituto Federal de Ciência e Tecnologia campus Itapetininga. A Fábrica têm como objetivo principal, o desenvolvimento, a prática e a evolução nos âmbitos do <strong>desenvolvimento de software</strong>. Nela, os alunos tem diversas vivências e oportunidades além da aulas tradicionais dos cursos, dentre as quais se destacam:</p>
        </div>
        <div class="flex flex-col items-center text-center gap-y-8">
          <div class="flex items-center justify-evenly w-[30rem] rounded-2xl border-2 border-primary shadow-lg shadow-primary">
            <img src="banner-tech.svg" alt="banner tecnologias" class="w-[16rem] h-[8rem] m-[1rem]" />
            <p class="text-primary text-2xl text/loose font-semibold">Conhecer diferentes tecnologias</p>
          </div>
          <div class="flex items-center justify-evenly w-[30rem] rounded-2xl border-2 border-primary shadow-lg shadow-primary">
            <p class="text-primary text-2xl text/loose font-semibold">Enfrentar desafios reais</p>
            <img src="banner-engineer.svg" alt="banner tecnologias" class="w-[16rem] h-[8rem] m-[1rem]" />
          </div>
          <div class="flex items-center justify-evenly w-[30rem] rounded-2xl border-2 border-primary shadow-lg shadow-primary">
            <img src="banner-pair.svg" alt="banner tecnologias" class="w-[16rem] h-[8rem] m-[1rem]" />
            <p class="text-primary text-2xl text/loose font-semibold">Trabalhar em equipe</p>
          </div>
        </div>
      </section>
  
      <section class="flex flex-col gap-8 p-4 reveal">
        <h2 class="my-[1rem] text-5xl text/loose font-semibold text-primary">Equipe</h2>
        <p class="leading-relaxed text-secondary">
          A equipe é formada por alunos dos cursos de Informática do campus Itapetininga. Atualmente conta com <strong>{filteredMembers.length} alunos</strong> do curso Técnico Integrado em Informática e já teve mais de <a href="/membros/"><strong>{allMembers.length} participantes</strong></a> desde o ínicio do projeto.
        </p>
        <div class="flex flex-wrap justify-center items-center gap-8">
          {filteredMembers.map((member) => <Equipe way={member.frontmatter.way} name={member.frontmatter.name} img={member.frontmatter.img} position={member.frontmatter.position} />)}
        </div>
      </section>

      <section class="flex flex-col gap-8 p-4 reveal">
        <h2 class="my-[1rem] text-5xl text/loose font-semibold text-primary">Depoimentos</h2>
        <div class="flex flex-row overflow-hidden gap-x-6">
          {filteredTestimonials.map((testimonial) =><Depoimentos way={testimonial.frontmatter.way} name={testimonial.frontmatter.name} img={testimonial.frontmatter.img} testimonial={testimonial.frontmatter.testimonial} video={testimonial.frontmatter.video} testimonialQuantity={testimonialQuantity}/>)}
          {filteredTestimonials.map((testimonial) =><Depoimentos way={testimonial.frontmatter.way} name={testimonial.frontmatter.name} img={testimonial.frontmatter.img} testimonial={testimonial.frontmatter.testimonial} video={testimonial.frontmatter.video} testimonialQuantity={testimonialQuantity}/>)}
        </div>
      </section>
  
      <section class="flex flex-col justify-center items-center gap-4 p-4 reveal">
        <h2 class="my-[1rem] text-5xl text/loose font-semibold text-primary">Projetos</h2>
        <p class="text-secondary  ">
          A Fábrica de Software possui mais de <a href="/projetos/"><strong>{allProjects.length} projetos</strong></a> entre finalizados e em desenvolvimento desde a sua fundação. Dentre os projetos, temos internos para o próprio campus, como o <a href="/projetos/#sge"><strong>Sistema de Gerenciamento de Eventos (SGE)</strong></a> e também externos em parceria com a Prefeitura Municipal de Itapetininga em projetos como o <a href="/projetos/#svsa"><strong>SVSA</strong></a> e <a href="/projetos/#conrua"><strong>Consultório na Rua</strong></a>
        </p>
        <div class="grid grid-cols-3 justify-center items-center gap-8">
          {filteredProjects.map((project) => <Destaque way={project.frontmatter.way} title={project.frontmatter.title} img={project.frontmatter.img} descricao={project.rawContent}/>)}
        </div>
        <button class="my-[1rem] h-[2.5rem] w-[8rem] text-lg text/loose font-semibold text-primary border-2 border-primary rounded-full bg-tertiary"><a href="./projetos">Veja mais</a></button>
      </section>
  
    </div>
</TesteLayout>

<style>
  .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
    text: black;
  }
</style>

<script>
  
function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);

</script>