---
const {way, img, name, testimonial, video, testimonialQuantity} = Astro.props;
---
<div class="scroll shrink-0 relative flex flex-col justify-evenly items-center w-[29rem] h-[18rem] cursor-pointer outline bg-tertiary border-2 border-primary rounded-2xl p-[1rem]">
  <p class="open-button text-secondary text-balance p-4 text-lg">{testimonial}</p>
  <div class="flex items-center place-self-start ">
    <a href={way}><img src={img} class="w-[2rem] h-[2rem] rounded-full" /></a>
    <a href={way}><p class="text-secondary text-balance p-4 text-lg">{name}</p></a>
  </div>
  <dialog class="modal bg-tertiary border-primary border-2">
    <div class="w-[50rem] h-[35rem] flex flex-col gap-6 items-center">
        <div class="close-button self-start m-4 text-4xl text-primary">X</div>
        <iframe class="w-[45rem] h-[25rem]" src={video} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   </dialog>
</div>

<style define:vars={{testimonialQuantity}}>
  @keyframes scroll {
		0% { 
      transform: translateX(10rem); 
    }
		100% { 
      transform: translateX(calc(-30rem * var(--testimonialQuantity))) 
    }
	} 
	.scroll {
			animation: scroll 45s linear infinite
			}
</style>

<script>
    const buttons = document.querySelectorAll('.open-button');
    buttons.forEach(e => {
        e.addEventListener('click', () => {
            const elementoPai = e.parentElement;
            const modal = elementoPai.querySelector("dialog");
            modal.showModal();

            elementoPai.parentElement.querySelector(".close-button").addEventListener("click", ()=> {
                modal.close();
            })
        })
    })
</script>