---
const {img, title, descricao} = Astro.props;
---

    <div class="flex justify-evenly items-center gap-y-10 border-2 border-secondary xl:w-[28rem] xl:h-[16rem] w-[20rem] h-[12rem] cursor-pointer hover:shadow-primary shadow-xl">
        <a class="open-button">
            <figure class="relative xl:w-[28rem] xl:h-[16rem] w-[20rem] h-[12rem]">
                <img src={img} alt={title} class="object-cover xl:w-[28rem] xl:h-[16rem] w-[20rem] h-[12rem] absolute top-0 left-0" />
                <figcaption class="opacity-1 xl:opacity-0 hover:opacity-100 duration-300 absolute top-0 left-0 w-full h-full flex items-end text-primary font-bold mx-4 my-[-1rem]"><span>{title}</span></figcaption>
            </figure>
        </a>
        <dialog class="modal bg-tertiary border-2 border-primary ">
            <div class="w-[21rem] h-[35rem] md:w-[50rem] md:h-[45rem] flex flex-col gap-6 items-center">
                <div class="close-button self-start m-4 text-4xl text-primary">X</div>
                <div class="flex flex-col items-center justify-center">
                    <img src={img} alt={title} class="md:w-[44rem] md:h-[25rem] w-[20rem] h-[15rem]">
                </div>
                <p class="text-2xl text/loose font-semibold text-primary">{title}</p>
                <p class="text-md text/loose font-semibold text-secondary w-[20rem] text-justify tracking-tighter md:text-justify md:w-[44rem]">{descricao.slice(descricao.indexOf('<h2 id="descrição">Descrição</h2>')+37, descricao.indexOf('<h2 id="info">Info</h2>')-5)}</p>
            </div>
        </dialog>
    </div>
      <script>
        const buttons = document.querySelectorAll('.open-button');
        buttons.forEach(e => {
            e.addEventListener('click', () => {
                const elementoPai = e.parentElement;
                const modal = elementoPai.querySelector("dialog");
                const iframe = elementoPai.querySelector("iframe");
                modal.showModal();

                elementoPai.querySelector(".close-button").addEventListener("click", ()=> {
                    if(iframe) {
                        iframe.src = iframe.src;
                    }
                    modal.close();
                })
            })
        })
    
      </script>